body {
    background-color: #17181d;
}

menu {
    background-color: #212229;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;

    position: relative; /*Fixa o elemento na tela*/
    z-index: 1000; /*Faz com que o elemento fique por cima dos outros*/
    margin-top: 0; /*Posiciona o elemento à uma distância de 0px da extremidade superior da página*/
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

#titulo1 {
    margin-top: 5%;
    margin-left: 1%;
}

.carrosselcard {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem;
}

.box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem;

}

.descricao {
	position: relative;
	width: 400px;
	background: white;
	border-radius: 15px;
	padding: 25px 20px;

}

.descricao h5 {
    font-size: 20px;
    padding: 10px;
}

.descricao a {
    color: #161616;
    background-color: #fb8b24;
    font-size: 19px;
    border-radius: 90px;
    padding: 9px 11px;
}

.descricao a:hover {
    text-decoration: none;
    background-color: #fda756;
    color: #474747;
}

.descricao p {
    color: #161616;
    font-family: Arial, Helvetica, sans-serif;
}

#imagem_home {
    border-radius: 100%;
    margin-bottom: -70px;
}

.menu-itens {
    color: #f1f1f1; /*Define a cor do texto*/
    text-decoration: none; /*Retira o traço de link da palavra*/
    padding: 10px 20px;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin: 0;
    font-size: 18px; /*Define o tamanho do texto*/
    display: inline-block; /*Deixa o item como o bloco em uma linha*/
}

.menu-itens:hover { /*É um evento de mouse que ocorre uma ação toda vez que colocamos o mouse em cima do elemento*/
    background-color: #d6d6d6;
    color: #260D61;
    width: 10%;
    padding: 10px 5px;
    border-radius: 8px; /*Arredondar as bordas de um elemento*/
    text-decoration: none;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #d6d6d6;
}

h1, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e09145;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d6d6d6;
}

.cliente1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
}

.avaliacao {
    color: #e09145;
    font-size: 21px;
}

.avaliar {
    margin-top: 100px;
}

section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-color: rgba(26, 26, 26, 0.5);
    height: 50px;
    color:#292c35;
    justify-items: center;
    padding-top: 1%;
    margin-bottom: 0%;
}